<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="AWS-CloudWatch-AccessKey" value="" />
    <add key="AWS-CloudWatch-SecretKey" value="" />
    <add key="AWS-CloudWatch-ServiceUrl" value="http://eu-west-1.monitoring.amazonaws.com" />
    <add key="AWS-CloudWatch-Namespace" value="" />
  </appSettings>
</configuration>
