#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.ReSharper
[Tt]est[Rr]esult*
*.orig
_UpgradeReport_Files
UpgradeLog*.XML

!*.refresh
![Bb]in/*.refresh

#ignore config files - add these files by force if wishing to commit sample configuration
*.config